name: Publish GitHub Packages
on:
  push:
    branches:
      - master
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@francisco1030'
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
